<a href="https://colab.research.google.com/github/JuiiiDixit/Jui-Dixit-EDA-AllExpts-25070123059/blob/main/Study_of_list_and_various_operations_on_it_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment number 3
##Name: Jui Dixit
##Batch A3
##PRN: 25070123059
##Title: Study of lists and various operations on it

In [ ]:
##Python lists
placesiwanttogo= ["France", "Japan", "Korea"]
print(placesiwanttogo)

['France', 'Japan', 'Korea']

In [ ]:
#List length
placesiwanttogo= ["France", "Japan", "Korea"]
print(len(placesiwanttogo))

3

In [ ]:
#List with strings, integers and booolean values
list1 = ["acb", 34, True, 40, "male", 40.5, 3+2j]
list1

['acb', 34, True, 40, 'male', 40.5, (3+2j)]

In [ ]:
#Access items
placesiwanttogo= ["France", "Japan", "Korea"]
print(placesiwanttogo[1])

Japan

In [ ]:
#Reverse or negative indexing
placesiwanttogo= ["France", "Japan", "Korea"]
print(placesiwanttogo[-1])

Korea

In [ ]:
#Slicing
hislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(hislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
hislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(hislist[:4])
print(hislist[3:])

['apple', 'banana', 'cherry', 'orange']
['orange', 'kiwi', 'melon', 'mango']

In [ ]:
hislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon"]
print(hislist[-3:-1])
print(hislist[-3:])

['orange', 'kiwi']
['orange', 'kiwi', 'melon']

In [ ]:
#Change item
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
#Append items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Insert items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#Extend list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Searching items
8 in [3, 4, 5]

False

In [ ]:
8 in [3, 4, 5, 6, 7, 8]

True

In [ ]:
#Repetition
list = ('Juiiii')*6
list

'JuiiiiJuiiiiJuiiiiJuiiiiJuiiiiJuiiii'

In [ ]:
numbers = [10, 20, 30, 40, 50]
#Slicing examples
print(numbers[1:4])
print(numbers[:3])
print(numbers[-3:])
print(numbers[:])

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
numbers = [3, 7, 1, 9, 4]
print(max(numbers))
print(min(numbers))
print(sum(numbers))
print(len(numbers))
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)
print(sum(numbers)/len(numbers)) #Average

9
1
24
5
[1, 3, 4, 7, 9]
[9, 7, 4, 3, 1]
4.8

In [ ]:
marks = [78, 85, 90, 66, 88]
print(min(marks))
print(max(marks))
print(sum(marks))
print(len(marks))
print(sum(marks)/len(marks))
numbers.sort()
print(marks)

66
90
407
5
81.4
[78, 85, 90, 66, 88]

In [ ]:
Grocery = ["Cornflakes", "Wheat flour", "Detergent", "Oats"]
#Adding new items to the list
Grocery.append("Toothpaste")
print(Grocery)
#Removing purchased items
Grocery.remove("Cornflakes")
Grocery.remove("Wheat flour")
print(Grocery)

['Cornflakes', 'Wheat flour', 'Detergent', 'Oats', 'Toothpaste']
['Detergent', 'Oats', 'Toothpaste']

In [ ]:
Contacts = ["Jeon", "Joon", "Jim", "Jinnie"]
print(Contacts)
Contacts.append("Yoon")
print(Contacts)
Contacts.remove("Jinnie")
print(Contacts)
Contacts.sort()
print(Contacts)

['Jeon', 'Joon', 'Jim', 'Jinnie']
['Jeon', 'Joon', 'Jim', 'Jinnie', 'Yoon']
['Jeon', 'Joon', 'Jim', 'Yoon']
['Jeon', 'Jim', 'Joon', 'Yoon']

In [5]:
list1 = [20, 30, 50, 60, 40, 10, 70]
print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[4:6:-1])
print(list1[6:4:-1])
print(list1[6:4:-2])
print(list1[-2:-4:-2])

[30, 50]
[30, 50]
[30, 60]
[30]
[]
[70, 10]
[70]
[10]

In [10]:
Temperature = [30, 27, 35, 32, 29, 28, 31, 38, 26, 33]
print(Temperature[:5])
print(Temperature[5:])
print(max(Temperature))
print(min(Temperature))
print(sum(Temperature)/len(Temperature))

[30, 27, 35, 32, 29]
[28, 31, 38, 26, 33]
38
26
30.9

In [11]:
#Daily expense tracker
Expense_Tracker = [100, 250, 150, 275, 300, 700, 450, 760]
print(Expense_Tracker)
print(sum(Expense_Tracker))
print(sum(Expense_Tracker)/len(Expense_Tracker))
print(max(Expense_Tracker))
print(min(Expense_Tracker))

[100, 250, 150, 275, 300, 700, 450, 760]
2985
373.125
760
100