<a href="https://colab.research.google.com/github/JuiiiDixit/Jui-Dixit-EDA-AllExpts-25070123059/blob/main/Study_of_pandas_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment 9
##Study of pandas library
##Name: Jui Dixit
##Class: ENTC A3
##PRN: 25070123059
##Date: 18/2/2026

In [5]:
#Introduction to pandas
'''Used for structured data, EDA, Data cleaning'''
import pandas as pd

In [4]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [12]:
import pandas as pd
data = {
    "Name": ["A", "B", "C"],
    "Marks": [85, 90, 78]
}
df = pd.DataFrame(data)
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [16]:
#Finding structure of data frame
print(df.shape)
print(df.ndim)
print(df.size) #3X2 rowsXcolumns as given in earlier code

(3, 2)
2
6

In [17]:
#Display column names
print(df.columns)

Index(['Name', 'Marks'], dtype='object')

In [19]:
#Check dat types of each column
(df.dtypes)

Name     object
Marks     int64
dtype: object

In [20]:
#Access individual column
df["Name"]

0    A
1    B
2    C
Name: Name, dtype: object

In [21]:
df["Marks"]

0    85
1    90
2    78
Name: Marks, dtype: int64

In [22]:
#Access specific row
df.loc[1] #1 indicates the first row

Name      B
Marks    90
Name: 1, dtype: object

In [24]:
#Add a new column
'''If marks = 80-90, First class
If marks >= 90, Distinction
If marks < 80-90, Second class'''

df["Grade"] = ["First class", "Distinction", "Second class"]
df

  Name  Marks         Grade
0    A     85   First class
1    B     90   Distinction
2    C     78  Second class

In [25]:
#Update data in data frame
#Change marks of student A to 88
df.loc[0, "Marks"] = 88
df

  Name  Marks         Grade
0    A     88   First class
1    B     90   Distinction
2    C     78  Second class

In [26]:
#Delete a column
df.drop("Grade", axis = 1, inplace = True)
df

  Name  Marks
0    A     88
1    B     90
2    C     78

In [28]:
#Perform basic statistical analysis
mean1 = df["Marks"].mean()
mean1

np.float64(85.33333333333333)

In [30]:
#Find the minimum and maximum value of the given data set
mini = df["Name"].min()
print(mini)
maxi = df["Marks"].max()
print(maxi)

A
90

In [31]:
#apply condition (filtering)
#Display students scoring more than 80
df[df["Marks"]>80]

  Name  Marks
0    A     88
1    B     90

In [32]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'C1' :[11,21,np.nan], 'C2':[15, np.nan, np.nan], 'C3':[10,20,30] })
df1

     C1    C2  C3
0  11.0  15.0  10
1  21.0   NaN  20
2   NaN   NaN  30

In [33]:
#Is(not a number), Boolean function
df1.isna()

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [34]:
df1.notna()

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [35]:
df1.isna().sum()

C1    1
C2    2
C3    0
dtype: int64

In [36]:
df1.dropna()#NaN rows are dropped

     C1    C2  C3
0  11.0  15.0  10