<a href="https://colab.research.google.com/github/JuiiiDixit/Jui-Dixit-EDA-AllExpts-25070123059/blob/main/Study_of_sets_and_dictionaries_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment number 5: Study of sets and dictionaries
##Name: Jui Dixit
##PRN: 25070123059
##Batch: EnTC A3

In [ ]:
#Creation of sets
thisset = {"Kiwi", "Mango", "Banana"}
print(thisset)

{'Mango', 'Kiwi', 'Banana'}

In [ ]:
#Duplicates not allowed
thisset = {"Kiwi", "Mango", "Banana", "Kiwi"}
print(thisset)

{'Mango', 'Kiwi', 'Banana'}

In [ ]:
#The values true and 1 are considered the same value in sets and are treated as duplicates
thisset = {"Kiwi", "Mango", "Banana", True, 1, 2}
print(thisset)

{True, 2, 'Mango', 'Kiwi', 'Banana'}

In [ ]:
#A set with strings, integers and boolean values
thisset = {"abc", 34, True, 30, "male", 5.5}
print(thisset)

{True, 34, 5.5, 'male', 'abc', 30}

In [ ]:
#To check membership
thisset = {"Kiwi", "Mango", "Banana"}
print("Kiwi" in thisset)
print("Orange" in thisset)

True
False

In [ ]:
#Once a set is created you cannot replace its items, but you can add new items
thisset = {"Kiwi", "Mango", "Banana"}
thisset.add("Grapes")
print(thisset)

{'Grapes', 'Mango', 'Kiwi', 'Banana'}

In [ ]:
#Remove items
thisset = {"Kiwi", "Mango", "Banana"}
thisset.remove("Mango")
print(thisset)

{'Kiwi', 'Banana'}

In [ ]:
#Set operations
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)
print("Symmetric difference:", A^B)
print(B-A)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
Symmetric difference: {1, 2, 5, 6}
{5, 6}

##Python frozenset

In [ ]:
#frozenset
x = frozenset({"Kiwi", "Mango", "Banana"})
print(x)
print(type(x))

frozenset({'Mango', 'Kiwi', 'Banana'})
<class 'frozenset'>

In [ ]:
#Adding or removal of elements are not allowed in frozenset
x = frozenset({"Kiwi", "Mango", "Banana"})
x.add
print(x)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
'''Problem statement 1: A college event has a list of students who registered multiple times by mistake. Write a program using set to store participant names and display only unique participants'''
participants = ["Jeon", "Jin", "Hob", "Jin", "Tim", "Jim", "Tim"]
print(participants)
remove_extra_participants = set(participants)
print(remove_extra_participants)

['Jeon', 'Jin', 'Hob', 'Jin', 'Tim', 'Jim', 'Tim']
{'Hob', 'Jin', 'Jim', 'Jeon', 'Tim'}

In [ ]:
'''Problem statement 2: Three students choose elective subjects. Find the common subjects chosen by all students using set operations.'''
std1_elective = {"Maths", "Science", "Social Science"}
std2_elective = {"Maths", "English", "Social Science"}
std3_elective = {"Maths", "Science", "English"}
print("Common subjects:", std1_elective|std2_elective|std3_elective)

Common subjects: {'Science', 'English', 'Maths', 'Social Science'}

In [ ]:
'''Problem statement 3: One set contains students in the cricket club, another in football club. Find students who are:
1. In both clubs
2. In only one club'''
Cricket = {"John", "Joon"}
Football = {"John", "Joon", "Maria", "Jen"}
print("Students in both clubs:", Cricket & Football)
print("Students in only ne club:", Cricket ^ Football)

Students in both clubs: {'Joon', 'John'}
Students in only ne club: {'Jen', 'Maria'}

In [ ]:
'''Problem statement 4: Absent students
Given a set of students and a set of present students, find the absent students'''
students = {"Naye", "Jeong", "Momo", "Sana", "Jihyo", "Mina", "Dahy", "Chae", "Tzu"}
present_students = {"Naye", "Momo", "Jihyo", "Tzu"}
print("Absent students:", students - present_students)

Absent students: {'Dahy', 'Jeong', 'Chae', 'Mina', 'Sana'}

In [ ]:
'''problem statement 5: Remove invalid entries:
A set contains valid course codes. Remove the discontinued course code from the set'''
courses = {"EDP", "DCLD", "AMT", "IKS", "CT", "PES", "IES"}
courses.discard("IES")
courses.remove("IKS")
print(courses)

{'AMT', 'DCLD', 'PES', 'CT', 'EDP'}

##Python dictionaries

In [ ]:
thisdict = {
    "brand": "TATA",
    "Model": "CURVV",
    "Year": "2025"

}
print(thisdict)

{'brand': 'TATA', 'Model': 'CURVV', 'Year': '2025'}

In [ ]:
thisdict = {
    "brand": "TATA",
    "Model": "CURVV",
    "Year": "2020",
    "Year": "2025",

}
print(thisdict)
print(len(thisdict))

{'brand': 'TATA', 'Model': 'CURVV', 'Year': '2025'}
3

In [ ]:
thisdict = {
    "brand": "TATA",
    "Model": "CURVV",
    "Year": "2025",

}
print(type(thisdict))

<class 'dict'>

In [ ]:
#Changing/Adding key:values in dictionary
car = {
    "brand": "TATA",
    "Model": "CURVV",
    "Year": "2025",
}
x = car.values()
print(x)
car["Colour"] = "Wine red"
print(x)

dict_values(['TATA', 'CURVV', '2025'])
dict_values(['TATA', 'CURVV', '2025', 'Wine red'])

In [ ]:
#Retrieving information from dictionary
student = {
    "PRN": 25070123059,
    "name": "Jui Dixit",
    "branch": "EnTC A3",


}
print("Name:", student["name"])

Name: Jui Dixit

In [ ]:
#Adding and updating elements
student = {
    "PRN": 25070123059,
    "name": "Jui Dixit",
    "branch": "EnTC A3",


}
student["name"] = "Jui"
x = student.values()
print(x)
student["year"]= "First year"
print(x)

dict_values([25070123059, 'Jui', 'EnTC A3'])
dict_values([25070123059, 'Jui', 'EnTC A3', 'First year'])

In [ ]:
#Removing elements from dictionary
student.pop("branch")
print("Updated dict:", student)

Updated dict: {'PRN': 25070123059, 'name': 'Jui', 'year': 'First year'}

In [1]:
'''A Dictonary contains student names and marks, Write a python program to search for a student's marks. If the student is not found, display a suitable message'''

data = {"Jim": 80, "Tim": 80, "Joon": 95}
name = input("Enter name:")
print(data.get(name, "Student not found!"))

Enter name: Jui
Student not found!

In [2]:
'''A dictionary stores product names and their prices. write a python program to update the price of a given product'''
prices = {
    "Milk": 50,
    "Flour": 45,
    "Cornflakes": 80
}
print(prices)
prices["Milk"]= 60
print(prices)

{'Milk': 50, 'Flour': 45, 'Cornflakes': 80}
{'Milk': 60, 'Flour': 45, 'Cornflakes': 80}

In [10]:
'''A dictionary stores usernames and pswds. Write a python program to validate user login'''
info = {"admin": "xyz", "student": "sTUDENT"}
username = input("Enter username:")
password = input("Enter password:")
if info.get(username)==password:
 print("Login successful!")
else:
 print("Login failed!")

Enter username:admin
Enter password:xyz
Login successful!

In [12]:
'''a dictionary stores student names and marks. Write a python program to find the student who scored the highest marks'''
marks = {"John": 88, "Hob": 68, "Yoon": 71}
highest_marks = max(marks, key=marks.get)
print("highest marks:", highest_marks)
print("Marks:", marks[highest_marks])

highest marks: John
Marks: 88